<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ja</string>
		<string>vi</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>KaiseiDecol-Medium.ttf</string>
		<string>Cabin.ttf</string>
		<string>KaiseiDecol-Regular.ttf</string>
		<string>KaiseiDecol-Bold.ttf</string>
		<string>DancingScript-SemiBold.ttf</string>
		<string>AlexBrush-Regular.ttf</string>
		<string>DancingScript-Bold.ttf</string>
		<string>DancingScript-Medium.ttf</string>
		<string>DancingScript-Regular.ttf</string>
		<string>Fonts provided by application</string>
	</array>
</dict>
</plist>
